<?xml version="1.0" encoding="utf-8"?>

<!-- Launch file to start the AR.Drone 2.0 simulator for AER1217 -->
<!-- UTIAS CARRE AER1217 - Winter 2017 
-->

<launch>

 
  <!-- Create ROS node that simulates the AR Drone 2 and the VICON system. It subscribes to desired roll angle, pitch angle, yaw rate, climb rate and publishes current position and attitude -->
  <node name="data_publisher" pkg="publisher" 
    type="publisher.py" output="screen" required="True"/>
  

  <!-- TODO: Create ROS node that controls the AR Drone (aer1217_roscontroller.py) -->
  <node name="data_processor" pkg="publisher" 
    type="processor.py" output="screen" required="True"/>  

</launch>
